@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')



body
	margin 0px
	background black
	color white
	font-family 'Source Code Pro', monospace

.header
	background url('/images/banner dark.jpg')
	background-position center
	background-size cover
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	.page-title
		font-weight 200
		font-size 100px
		text-align center
		margin 0px
		padding 100px 0px 100px 0px
		text-transform uppercase
		color #AAAAAA
		letter-spacing 3vw

.nav-fade
	background linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))
	min-height 50px

.nav
	font-size 1.25em
	max-width 800px
	margin 50px auto
	background rgba(0,0,0,1)
	text-align center

	li
		@media (min-width 801px)
			display inline-block
			width 20%
		@media (max-width 800px)
			display block
			width 100%
		font-size 1em
	a
		display inline-block
		padding 0px
		color #99c
		text-decoration none

		&:visited
			color: #99c
			text-decoration none
		&[current=\"true\"]
			color: #99c
			text-shadow: 0px 0px 5px #aaaaff
		&:hover
			color: #eee
			background-color #000000
			text-shadow: 0px 0px 5px #eeeeff
			text-decoration none

.main-content
	margin 50px auto
	max-width 800px
	p
		line-height 1.6
		margin-bottom 1.7em

.footer
	margin 0px auto
	width 100%
	max-width 800px
	border-top 1px solid #444
	text-align center

	p
		padding 10px 0px
		color #444

	ul
		text-align center

	li
		@media (min-width: 601px)
			display inline-block
			width 14%
		@media (max-width: 600px)
			display block
			width 100%
		a
			display inline-block
			text-decoration none

			&:link
				color #77a
			&:visited
				color #77a
			&:hover
				color #ddd
				text-shadow: 0px 0px 5px #eeeeff

.image-content
	float left

.info-image
	float left
	max-width 250px
	margin -10px 10px

.thumb-container
	display flex
	flex-direction row
	flex-wrap wrap

.column
	float left
	width 50%
	padding 0 16pt 0 16pt

.row:after
	content ""
	display table
	clear both

h2
	color #FFFFFF
	opacity 0.5
	padding 0 0 0 10px

#parent
	height 100%
	width 100%
	position relative

#child
	position absolute
	top 0px
	bottom 0px
	left 0px
	right -15px
	overflow auto

	a:link
		color #77a

	a:visited
		color #77a

	a:hover
		color #ddd
		text-shadow: 0px 0px 5px #eeeeff
