@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 99%;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  height: 99%;
}
.header {
  background: url("/images/banner dark.jpg");
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .page-title {
  font-weight: 200;
  font-size: 100px;
  text-align: center;
  padding: 100px 0px 100px 0px;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 3vw;
}
.nav-fade {
  background: linear-gradient(rgba(0,0,0,0), #000);
  min-height: 50px;
}
.nav {
  font-size: 1.25em;
  width: 50%;
  min-width: 600px;
  max-width: 800px;
  margin: 50px auto;
  background: #000;
  text-align: center;
}
.nav li {
  display: inline-block;
  width: 20%;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #99c;
  text-decoration: none;
}
.nav a:visited {
  color: #99c;
  text-decoration: none;
}
.nav a[current="true"] {
  color: #99c;
  text-shadow: 0px 0px 5px #aaf;
}
.nav a:hover {
  color: #eee;
  background-color: #224;
  text-shadow: 0px 0px 5px #eef;
  text-decoration: none;
}
.main-content {
  margin: 50px auto;
  max-width: 800px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  width: 50%;
  min-width: 600px;
  max-width: 800px;
  border-top: 1px solid #444;
  padding: 0px;
}
.footer p {
  padding: 20px 0px;
  color: #444;
}
.footer ul {
  text-align: center;
}
.footer li {
  display: inline-block;
  width: 14%;
}
.footer li a {
  display: inline-block;
  text-decoration: none;
}
.footer li a:link {
  color: #77a;
}
.footer li a:visited {
  color: #77a;
}
.footer li a:hover {
  color: #ddd;
  text-shadow: 0px 0px 5px #eef;
}
.image-content {
  float: left;
}
.info-image {
  float: left;
  max-width: 250px;
  margin: -10px 10px;
}
.thumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column {
  float: left;
  width: 50%;
  padding: 0 16pt 0 16pt;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
  color: #fff;
  opacity: 0.5;
  padding: 0 0 0 10px;
}
#parent {
  height: 100%;
  width: 100%;
  position: relative;
}
#child {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -15px;
  overflow: auto;
}
#child a:link {
  color: #77a;
}
#child a:visited {
  color: #77a;
}
#child a:hover {
  color: #ddd;
  text-shadow: 0px 0px 5px #eef;
}
