extends default

block headers
	meta(name='description' content='about chemicalcrux, in character and in person')
	meta(name='keywords' content='furry,crux,science,chemistry')
block content
	h2.
		in character
	p.
		Fen is a dark-blue crux. I both identify as him and use him as a character distinct from myself - both as a way to represent myself, and as a way to explore ideas that I find interesting. He's certainly a sociopathic bastard, but he's my sociopathic bastard!
	h2.
		in person
	p.
		I am a student of chemistry and computer science, currently wrapping up my undergraduate education. I have a strong curious streak, and am looking to continue pursuing knowledge in graduate school - where I hope to investigate applications of computational modeling to major problems of biochemistry, such as protein dynamics and bioinformatics. Beyond this academic field, I am a lover of the sciences in general, and enjoy tackling challenging programming problems.
