extends default

block headers
	meta(name='description' content='commissioned artwork of chemicalcrux')
	meta(name='keywords' content='furry,crux,vore,macro,micro,art')

block content
	h2.
		smug mugs
	p.
		This will (eventually) contain an archive of all the art (and other media) that I've commissioned or produced over the years.
	p.
		Eventually.
