extends default

block content
	h2.
		Commissions
	p.
		For all commission-related inquiries, you can either send me a note on FA or contact me on Telegram.

		My FA page contains up-to-date information about whether I'm open for commissions or not. Check there for details.
	h2.
		Writing
	p.
		I currently offer written commissions. You can find the terms #[a(href='/commissions/written_terms.pdf') here].

	h2.
		Audio
	p.
		I also offer audio commissions, on a somewhat infrequent basis. Their terms are found #[a(href='/commissions/audio_terms.pdf') here].
