extends default

block headers
	meta(name='description' content='commission details for chemicalcrux\'s written and aural works')
	meta(name='keywords' content='writing,audio,sound,commissions,vore,macro,micro,furry')

block content
	h2.
		commissions
	p.
		For all commission-related inquiries, you can either send me a note on FA or contact me on Telegram.

		My FA page contains up-to-date information about whether I'm open for commissions or not. Check there for details.
	h2.
		writing
	p.
		I currently offer written commissions. You can find the terms #[a(href='/commissions/written_terms.pdf') here].

	h2.
		audio
	p.
		I also offer audio commissions, on a somewhat infrequent basis. Their terms are found #[a(href='/commissions/audio_terms.pdf') here].
