extends default

block content
  p.
    You can find me at these art sites:

  li #[a(href='https://www.furaffinity.net/user/chemicalcrux') FurAffinity]
  li #[a(href='https://www.furrynetwork.com/chemicalcrux') Furry Network]
  br.
  p.
    I'm also available on these chat clients:

  li #[a(href='https://telegram.me/chemicalcrux') Telegram]
  li #[a(href='https://steamcommunity.com/id/chemicalcrux') Steam]

  p.
    Finally, you can mail me at my username on gmail.
