doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
		title chemicalcrux
		meta(name='theme-color' content='#000000')
		block headers
		meta(name='google-site-verification' content='wxaHbn-ssVzSIXHGOQM8MjNySVbk0iC4vo1biYIC2g8')
	body(onload="onLoad()")
		div#parent
			div#child
				.header
					h1.page-title CHEMICAL CRUX
					div.nav-fade
				ul.nav
					li: a(href='/') Home
					li: a(href='/about') About
					li: a(href='/interests') Interests
					li: a(href='/commissions') Commissions
					li: a(href='/work') Personal Work
					li: a(href='/art') Art archive
				.main-content
					block content

				.footer
					p.
						poke a crux
					p.
						#[a(href='https://www.furaffinity.net/user/chemicalcrux') FurAffinity] ~
						#[a(href='https://telegram.me/chemicalcrux') Telegram] ~
						#[a(href='https://steamcommunity.com/id/chemicalcrux') Steam] ~
						#[a(href='https://discord.gg/RYNF5Ns') Discord Server] ~
						#[a(href='https://twitter.com/chemicalcrux') Twitter]

					script.
						var onLoad = function() {document.querySelectorAll('[href="' + "/" + window.location.pathname.split("/")[1] + '"]')[0].setAttribute("current","true")
						var parent = document.getElementById('parent');
						var child = document.getElementById('child');
						var offset = child.clientWidth - child.offsetWidth;
						child.style.right = offset + "px";}
