extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		feast
	p.
		Feast is a vore-centric text RPG. #[a(href='/feast/feast.html') You can play it here]
	h2.
		Changelog
	h3.
		0.0.1
	ul
		li It has some buttons, and you can click them. They don't work yet.
