extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		feast
	p.
		Feast is a vore-centric text RPG. #[a(href='/feast/feast.html') You can play it here]
	h2.
		Changelog
	h3.
		0.2.7
	ul
		li Added Kuro, a predatory Luxray found in the even shadier alley to the west of the original one!
		li Saving records your stats properly now (but it's still weird)
		li Fixed enemy stats getting covered up by buttons
	h3.
		0.2.6
	ul
		li Added arousal, which builds over time. Arousal builds faster when you're full
		li Reaching 100% arousal causes orgasm, emptying out any prey you've digested in the process. Splat!
		li Added option to your bedroom to immediately max out arousal (whacking off)
	h3.
		0.2.5
	ul
		li Added a forest area, accessed by going east in the crossroads
		li Added wolves and alpha wolves to the forest - both pred and prey interactions
		li Updated how vore is tracked. Fullness is displayed for alt vore types
		li Anal vore can be turned on or off now
	h3.
		0.2.4
	ul
		li Added some more player pred options - cock/unbirth/breast vore
		li Added system for choosing body parts for the player. Still very rough
		li More mangling of stuff behind the scenes. Shouldn't break anything!
	h3.
		0.2.3
	ul
		li Added Poojawa, a seductive sabersune, to the bar area
		li Player stats are now visible
		li Removed the gore option and rolled it into hard vore
		li Prettified the preference selector and added soul vore (only affects Poojawa right now)
		li Removed dependence on javascript classes, so the game should work on older browsers now
		li You can now choose if you want a scrolling log or for the screen to clear after actions
	h3.
		0.2.2
	ul
		li You can now pick how interested you are in each vore type, affecting how frequently enemies try them (if at all)
		li This might be buggy - let me know if you see anything that should be disabled! Also, gore and hard vore are still separate, so you need both
		li Your preferences are now preserved by saves/loads!
		li Added some more moves to Trance
		li Added anal vore to Fen
	h3.
		0.2.1
	ul
		li Added Lalim, a shadowy monster. Currently, he has a chance to interrupt your rest if you sleep with full health
		li Reduced stamina drain for the player's moves
		li Added preference options for unbirth and cock vore
		li You can directly look for trouble in the wilderness, rather than exploring for an exit
	h3.
		0.2.0
	ul
		li Added a basic save/load system. It might not work completely correctly yet
		li Added Taluthus, a hungry kitsune capable of oral, tail, and cock vore, to the wilderness
		li Introduced Selicia, a dragoness with unbirth and oral vore moves, to the wilderness
		li Digesting prey will restore your stamina. It regenerates more slowly now
		li Vending machine food also restores stamina
		li Added some links to the character creation screen
	h3.
		0.1.4
	ul
		li Added more actions for Trance. Almost all require gore to be enabled!
		li Stamina matters for most (but not all) attacks now. Running out makes you less likely to succeed in grappling, struggling, etc.
		li Added a journal by your bed that logs your deaths
		li Fixed bugs with escaping leaving you stuck in the grappled state
		li Fixed some of Trance's moves ignoring your preferences
		li Fixed toilets failing to accomplish the primary objective of a toilet
		li The vending machine correctly lets you use your last dollar (instead of denying you if you had exact change)
	h3.
		0.1.3
	ul
		li Added a Wilderness area, south of the Nature Trail
		li Trance, a predatory sergal, can be encountered if you get lost
		li Enemies can now have specific dialog when defeated
		li Escaping from vore can now put you back into combat
	h3.
		0.1.2
	ul
		li Added money. Fallen enemies will drop some cash
		li Added a vending machine and a lobby to your apartment
		li Enemy stats are now displayed in combat
		li Fixed Fen's stats
		li Escaping vore at negative health is now very unlikely
	h3.
		0.1.1
	ul
		li Added a new encounter to the Nature Trail - Geta
		li Geta can shrink either the player or himself, with vore and paw crush outcomes
		li Added option for gore (currently only affects Geta's fight)
		li Added shrinking mechanics (can't use on normal enemies yet)
		li Named enemies can be described properly now ("Fen sneezes", not "The Fen sneezes")
		li Fixed enemies always picking a specific move when several were available
		li Dialogues can have conditions now; you'll see this when defeating a non-shrunk opponent
	h3.
		0.1.0
	ul
		li Added a basic (and optional) disposal system
		li The player can now flee from attacks
		li Enemies will now attack you when you're healthy and grapple you when you're weak
		li Added more meaningful types of foes - muscular, skinny, etc.
	h3.
		0.0.5
	ul
		li Added a reversal move when grappled
		li New system for deciding success - based on stats. Also unbalanced.
		li You can put people in your butt
		li Enemy attacks have priorities and weights. Higher priority attacks are used if available; equal priority attacks are picked by weight
		li Fen is more dangerous now. Burp
	h3.
		0.0.4
	ul
		li Added grappling
		li Common enemies can pin and devour you (and vice versa)
		li Different enemies can digest you at different speeds now
	h3.
		0.0.3
	ul
		li Added a preferences system, so that rooms and attacks can be enabled/disabled
		li Attacks can now have requirements. Fen leers at you before eating!
		li You regain health over time. Sleeping a few times will get you back to full
		li Basic character creation screen. Name and species; much more will follow
	h3.
		0.0.2
	ul
		li The player can now be eaten!
		li Struggling after vore added
		li Some pretty color changes for explore/combat/eaten states
		li Added the SUPER DANGER ZONE. Do not go into the SUPER DANGER ZONE.
		li Feed the crux :3
	h3.
		0.0.1
	ul
		li Created rooms you can move between
		li Explore, dialog, and combat are all basically functional
		li Vore with digestion
		li Time-based mechanics, like moving around, sleeping, and digestion
		li A few objects to interact with in different places
