extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		feast
	p.
		Feast is a vore-centric text RPG. #[a(href='/feast/feast.html') You can play it here]
	h2.
		Changelog
	h3.
		0.0.4
	ul
		li Added grappling
		li Common enemies can pin and devour you (and vice versa)
		li Different enemies can digest you at different speeds now
	h3.
		0.0.3
	ul
		li Added a preferences system, so that rooms and attacks can be enabled/disabled
		li Attacks can now have requirements. Fen leers at you before eating!
		li You regain health over time. Sleeping a few times will get you back to full
		li Basic character creation screen. Name and species; much more will follow
	h3.
		0.0.2
	ul
		li The player can now be eaten!
		li Struggling after vore added
		li Some pretty color changes for explore/combat/eaten states
		li Added the SUPER DANGER ZONE. Do not go into the SUPER DANGER ZONE.
		li Feed the crux :3
	h3.
		0.0.1
	ul
		li Created rooms you can move between
		li Explore, dialog, and combat are all basically functional
		li Vore with digestion
		li Time-based mechanics, like moving around, sleeping, and digestion
		li A few objects to interact with in different places
