extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore,game,games')

block content
	h2.
		games
	p.
		I've been working on several text-based browser games revolving around macro/micro and vore. You can find them #[a(href='https://crux.sexy') here]
