extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore,game,games')

block content
	h2.
		games
	p.
		I've been working on several text-based browser games revolving around macro/micro and vore. You can find links to them below.
	h2.
		stroll
	p.
		#[a(href='/stroll') Stroll] is a growth-centric game with a wide variety of kinks thrown in. Eat, stomp, and smash everything smaller than you, then grow and do it all over again.
	h2.
		feast
	p.
		#[a(href='/feast') Feast] is a text-based RPG with a heavy focus on same-size and micro vore.
	h2.
		satiate
	p.
		#[a(href='/satiate') Satiate] is a text adventure with an emphasis on sounds.
