extend default


block content
	p.
		Hey there! This is a website for organizing my furry presence across the 'net.
	p.
		You'll usually see me around as #[strong chemicalcrux], but I used to known as #[strong FenrirFangs] on a few websites.
