extend default

block headers
	meta(name='description' content='personal depravity website for chemicalcrux, aka Fen')
	meta(name='keywords' content='chemicalcrux,fenrirfangs,fen,furry,homepage')
block content
	h2.
		the den
	p.
		Hey there! This is a website for organizing my furry presence across the 'net.
	p.
		You'll usually see me around as #[strong chemicalcrux], but I used to known as #[strong FenrirFangs] on a few websites in 2013. My fursona's name is #[strong Fen], and you can refer to me as such (#[strong chemical] or just #[strong the crux] works too).
	h2.
		poke the crux
	p.
		Feel free to contact me; you'll find all the links below.
