extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='gaming,programming,vore,macro,micro,BDSM,gore,hypnosis')

block content
	h2.
		virtues
	p.
		I enjoy programming and the general art of computer science. I'm also an avid gamer, playing things like Factorio, Rocket League, Counter Strike, XCOM, and Space Engineers.
	h2.
		vices
	p.
		I enjoy vore, macro/micro and sizeplay; bondage, sadism, and masochism; hypnosis, and gore. I'm reasonably open minded, and am curious to hear your own curiosities.
