extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		satiate
	p.
		Satiate is a vore-themed text adventure with an emphasis on sound. #[a(href='/satiate/satiate.html') You can play it here]
	h2.
		Changelog
	h3.
		0.1.1
	ul
		li Audio can be preloaded before the story begins, removing the delay as it's loaded and parsed
		li Timers can change their delays, allowing for them to vary over time
		li Added more to the Fen's Food story
	h3.
		0.1.0
	ul
		li Initial release
		li Includes two stories: one tech demo and one self-indulgent story about getting digested by Fen
		li Can load, cache, and play sounds from the site
		li Supports basic features needed for a text adventure - inventory, stats, timed events, conditional actions and movements
