extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		stroll
	p.
		Stroll is a macro/vore idle game. #[a(href='/stroll.html') You can play it here]
	h2.
		Changelog
	h3.
		0.3.5
	ul
		li Added edging - staying above 100% arousal builds up over time, and can up to double cum volume
	h3.
		0.3.4
	ul
		li Introduced a more complex orgasm system - afterglow period follows it
		li Added more descriptions for the macro. Mostly related to arousal
	h3.
		0.3.3
	ul
		li Added an arousal toggle, both in char creation and in game
		li Fixed breast size being calculated by dick length (whoops)
	h3.
		0.3.2
	ul
		li Redid the growth system. Body parts now get diminishing returns
		li Growth has a new UI
		li Added large skyscrapers
	h3.
		0.3.1
	ul
		li Fixed a bug that caused too many large objects to go in an area
		li Added some totally not gay descriptions for eating one or two skyscrapers (try 400-550 meters!)
	h3.
		0.3.0
	ul
		li Completely rewrote the description system
		li Overhauled prey generation again - behind the scenes, though
		li Added a few new eating lines for small numbers of people and a car
	h3.
		0.2.10
	ul
		li Added basic body part growth
		li Fixed solar systems having continents instead of planets
	h3.
		0.2.9
	ul
		li Added number formatting - normal, SI prefixed, word-based, and scientific notation
		li Improved character creation screen's formatting and fixed some properties not working
	h3.
		0.2.8
	ul
		li Added stars, solar systems, and galaxies. Accessible once you hit a billion meters in height
		li Fixed a bug causing your custom character info to get shoved into the URL bar
	h3.
		0.2.7
	ul
		li Added a basic custom character system - species and size
		li Fixed a bug causing digestion to not happen on loop
	h3.
		0.2.6
	ul
		li Added towns, cities, continents, and planets. Reached when you hit 1 megameter
		li Fixed a few typos
	h3.
		0.2.5
	ul
		li Added explicit cum/femcum levels, including arousal when overfilled
		li Moved stats to a table at the bottom
	h3.
		0.2.4
	ul
		li Added orgasms for male and female parts
		li Fixed a few problems with metric volumes
	h3.
		0.2.3
	ul
		li Added a menu for choosing male/female genitals
		li Added a species chooser (literally any alphabetical string, that is)
		li Minor improvements to descriptions for some things (no more tram, tram, and a tram)
	h3.
		0.2.2
	ul
		li Redid the vore system to make it easier to work with
		li Added unbirth, cockvore
	h3.
		0.2.1
	ul
		li Added actions for the new body parts
	h3.
		0.2.0
	ul
		li Introduced appoximate units - football fields, swimming pool, etc.
		li Added male and female body parts
		li Game is now super 18+
		li Fixed a bug that showed plural units in the wrong place ("a 20 foot 3 inches crux")
	h3.
		0.1.7
	ul
		li Unique locations with different kinds of objects
		li Added cows and barns for the rural region
		li Adjusted calculations for action sizes
		li Increased odds to get at least one of each kind of object
		li Improved appearance of buttons
		li Better number formatting - fewer extra decimals
	h3.
		0.1.6
	ul
		li New layout. Should look better on mobile
		li Added newlines between actions and bolded the summary
		li Added some basic depictions of sound. Crunch!
	h3.
		0.1.5
	ul
		li Fixed a bug on Edge that causes anal vore to always pick a person
		li Fixed a few cases where simple text mode didn't apply
	h3.
		0.1.4
	ul
		li Increased the range of metric units
		li Added small skyscrapers
		li Introduced a simple mode that avoids describing the contents of objects
	h3.
		0.1.3
	ul
		li Strolling gets slower as you get bigger
		li Introduced some new, more descriptive, lines for stomping and eating
	h3.
		0.1.2
	ul
		li Improved layout.
	h3.
		0.1.1
	ul
		li Improved how eating/stomping victims are chosen
		li Made it more likely to get at least a few objects of each type
	h3.
		0.1.0
	ul
		li Initial release
		li Has stomping
