extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		stroll
	p.
		Stroll is a macro/vore idle game. #[a(href='/stroll.html') You can play it here]
	h2.
		Changelog
	h3.
		0.2.3
	ul
		li Added a menu for choosing male/female genitals
		li Added a species chooser (literally any alphabetical string, that is)
		li Minor improvements to descriptions for some things (no more tram, tram, and a tram)
	h3.
		0.2.2
	ul
		li Redid the vore system to make it easier to work with
		li Added unbirth, cockvore
	h3.
		0.2.1
	ul
		li Added actions for the new body parts
	h3.
		0.2.0
	ul
		li Introduced appoximate units - football fields, swimming pool, etc.
		li Added male and female body parts
		li Game is now super 18+
		li Fixed a bug that showed plural units in the wrong place ("a 20 foot 3 inches crux")
	h3.
		0.1.7
	ul
		li Unique locations with different kinds of objects
		li Added cows and barns for the rural region
		li Adjusted calculations for action sizes
		li Increased odds to get at least one of each kind of object
		li Improved appearance of buttons
		li Better number formatting - fewer extra decimals
	h3.
		0.1.6
	ul
		li New layout. Should look better on mobile
		li Added newlines between actions and bolded the summary
		li Added some basic depictions of sound. Crunch!
	h3.
		0.1.5
	ul
		li Fixed a bug on Edge that causes anal vore to always pick a person
		li Fixed a few cases where simple text mode didn't apply
	h3.
		0.1.4
	ul
		li Increased the range of metric units
		li Added small skyscrapers
		li Introduced a simple mode that avoids describing the contents of objects
	h3.
		0.1.3
	ul
		li Strolling gets slower as you get bigger
		li Introduced some new, more descriptive, lines for stomping and eating
	h3.
		0.1.2
	ul
		li Improved layout.
	h3.
		0.1.1
	ul
		li Improved how eating/stomping victims are chosen
		li Made it more likely to get at least a few objects of each type
	h3.
		0.1.0
	ul
		li Initial release
		li Has stomping
