extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		stroll
	p.
		This link (chemicalcrux.org/stroll.html) is deprecated and will be removed in a few weeks. #[a(href='/stroll/stroll.html') Please access the game here instead.]
