extends default

block headers
	meta(name='description' content='personal interests of the chemical crux')
	meta(name='keywords' content='macro,micro,vore')

block content
	h2.
		stroll
	p.
		Stroll is a macro/vore idle game. #[a(href='/stroll.html') You can play it here]
	h2.
		Changelog
	h3.
		0.5.24
	ul
		li Fixed digestion being almost instant
		li Corrected missing name for human feet/toes
		li Hooves can no longer be flexed, and won't get things stuck in them (for now)
	h3.
		0.5.23
	ul
		li Barefoot stomping can get things stuck between your toes
		li Added toe flexing, which works barefoot, in socks, and in shoes
		li Fixed a few things being scaled by the wrong values
		li Added multipliers for watersports/disposal to control production resulting from digestion
	h3.
		0.5.22
	ul
		li Added one preset character - Dissy
		li Added explicit fart/belch buttons if you have gas enabled
		li Added warnings for more extreme kinks when you start the game
		li Increased the density of towns, cities, and continents
	h3.
		0.5.21
	ul
		li Added one preset character - Ralerin
		li Chewing now adds prey to the stomach properly (only available on the gory setting!)
		li Loading a character resets settings first - old presets won't leave some settings unchanged now
		li Removed growth points to try and actually rebalance them at some point
	h3.
		0.5.20
	ul
		li Added watersports and disposal, disabled by default
		li Also added bladder vore, under watersports
		li Added a button to write debug information to the console. Handy for sending me bug reports
	h3.
		0.5.19
	ul
		li Big rework of how victims are generated. Shouldn't cause any changes to gameplay
		li Human-only mode is back, albeit slightly hacky still
	h3.
		0.5.18
	ul
		li Improved footwear - fixed some bugs with wrong names and wrong descriptions
		li Fixed a bug where turning on arousal and then having an orgasm caused an error
		li Added some handy meta info for previews when linked
		li Improved the layout of the character creation screen some more
	h3.
		0.5.17
	ul
		li Added socks and shoes. You can stuff people in both after removing them, then put them back on
		li Adjusted how prey is picked - added some variance to how many of each type are guaranteed to get in
		li Fixed a bug preventing dropdown menus from being saved correctly
		li Added one preset character - Noma
	h3.
		0.5.16
	ul
		li Added different soul vore outcomes - released, predscape, afterlife, trapped, and oblivion
		li Temporarily removed human victim mode; this will come back with improvements to victim options
		li Fixed grinding describing nothing
		li Tailhole diameter, rather than area, is in the creation screen now
	h3.
		0.5.15
	ul
		li Redid the stat system. For now, you can click "Stats" to see them all listed
		li Anal vore is its own button now - sitting still does both right now; might change later
	h3.
		0.5.14
	ul
		li Added stench for stomping and sitting
		li Added gas for oral/anal vore, with belching and farting
		li Both of these are disabled by default
		li Soul vore is also disabled by default now
	h3.
		0.5.13
	ul
		li Added two preset characters - Mekuto and Vulpes
		li Added beaks as an alternative to normal jaws
		li Tail vore with multiple tails lets you choose one, some, or all
		li Improved the creation screen; nested menus look better
	h3.
		0.5.12
	ul
		li Added stretchiness - tails, cocks, slits, and breasts can act larger than they are when trying to stick something inside of them!
		li Tail vore now happens per-tail.
	h3.
		0.5.11
	ul
		li Fixed broken random number generation for large numbers of objects - was causing buses to have hundreds of people, and worse!
		li Significantly increased population of cities/towns to compensate, and added way more of them per continent
	h3.
		0.5.10
	ul
		li Added preset characters - just Fen for now
		li Added an export/import box for text-based sharing
		li Fixed a bug where getting too big caused strolling to happen at an incredible speed
		li Further improved the layout of the character creation screen
	h3.
		0.5.9
	ul
		li Added some new toggleable victim types - military, micros, macros
		li Trying a way to have body part types, starting with foot type: paw/hoof/foot/avian
		li Anal vore has its own category now. Prey can go from bowels to stomach if desired
		li Temporarily removed distinct locations - back soon!
	h3.
		0.5.8
	ul
		li Fixed up the creation screen some more
		li Added descriptions for your stomach, bowels, etc.
	h3.
		0.5.7
	ul
		li Revamped the character creation screen! Now it's laid out in a grid
		li Fixed a few bugs with NaN showing up in weird places
		li Fixed stats appearing when they shouldn't (e.g. femcum without female parts)
	h3.
		0.5.6
	ul
		li Orgasms now happen all at once, so they don't clutter the log as much
	h3.
		0.5.5
	ul
		li You can now stomp/eat/splooge/etc 0 people at a time
		li Added same-size vore and stomp options
	h3.
		0.5.4
	ul
		li Added a Telegram chat link
		li Rewrote the UI to explicitly add things, not explicitly remove them. This makes it harder to accidentally leave stuff enabled that you didn't want
	h3.
		0.5.3
	ul
		li Added soul vore. Catch them directly or from things you digest
		li Did some tweaking on population values. Still crazy
	h3.
		0.5.2
	ul
		li Added a dark mode
	h3.
		0.5.1
	ul
		li Linted all the javascript and turned on strict mode
		li This may have broken things; let me know if anything doesn't function!
	h3.
		0.5.0
	ul
		li Added pouches, sheaths, and cleavage. Get stuffing!
		li Pouches can be eaten from
		li Sheaths can be squeezes, and their contents absorbed
		li Breasts can be squeezed to crush, pulled apart to drop, or used to absorb
		li Fixed bug causing wrong numbers when merging containers (important for the above)
		li Hid victim table for now. It was getting enormous
	h3.
		0.4.6
	ul
		li More layout work. Actions are now tabbed by body part
		li Anal vore can now be toggled
	h3.
		0.4.5
	ul
		li Added breast vore (toggled independently of lactation)
		li Added chewing. Created gory descriptions for 1/2 people
		li Another AV scene, this time for a train
	h3.
		0.4.4
	ul
		li Fixed lactation happening even when disabled
		li Added an option to make victims humans, rather than anthros
		li Arousal/edging is now independent of having genitals
		li Entire towns/cities have buses now
	h3.
		0.4.3
	ul
		li Separated breasts and genitals
		li Added lactation. Splash!
	h3.
		0.4.2
	ul
		li Added tails - zero, one, or many
		li Added tailslaps and tailvore
	h3.
		0.4.1
	ul
		li Added spurting when you stay on the edge for a while
		li Added several new descriptions - nonfatal stomps and several ass shoves
	h3.
		0.4.0
	ul
		li Brutality can now be configured - non-fatal, fatal, gory, and sadistic (last one isn't in yet)
		li Retooled how digestion is described to make it easier to create custom descriptions
	h3.
		0.3.7
	ul
		li Added grinding; works differently for herm/male/female/null bodytypes
		li Fixed a bug breaking the dick type option
	h3.
		0.3.6
	ul
		li Added a way to save and load your custom character
	h3.
		0.3.5
	ul
		li Added edging - staying above 100% arousal builds up over time, and can up to double cum volume
	h3.
		0.3.4
	ul
		li Introduced a more complex orgasm system - afterglow period follows it
		li Added more descriptions for the macro. Mostly related to arousal
	h3.
		0.3.3
	ul
		li Added an arousal toggle, both in char creation and in game
		li Fixed breast size being calculated by dick length (whoops)
	h3.
		0.3.2
	ul
		li Redid the growth system. Body parts now get diminishing returns
		li Growth has a new UI
		li Added large skyscrapers
	h3.
		0.3.1
	ul
		li Fixed a bug that caused too many large objects to go in an area
		li Added some totally not gay descriptions for eating one or two skyscrapers (try 400-550 meters!)
	h3.
		0.3.0
	ul
		li Completely rewrote the description system
		li Overhauled prey generation again - behind the scenes, though
		li Added a few new eating lines for small numbers of people and a car
	h3.
		0.2.10
	ul
		li Added basic body part growth
		li Fixed solar systems having continents instead of planets
	h3.
		0.2.9
	ul
		li Added number formatting - normal, SI prefixed, word-based, and scientific notation
		li Improved character creation screen's formatting and fixed some properties not working
	h3.
		0.2.8
	ul
		li Added stars, solar systems, and galaxies. Accessible once you hit a billion meters in height
		li Fixed a bug causing your custom character info to get shoved into the URL bar
	h3.
		0.2.7
	ul
		li Added a basic custom character system - species and size
		li Fixed a bug causing digestion to not happen on loop
	h3.
		0.2.6
	ul
		li Added towns, cities, continents, and planets. Reached when you hit 1 megameter
		li Fixed a few typos
	h3.
		0.2.5
	ul
		li Added explicit cum/femcum levels, including arousal when overfilled
		li Moved stats to a table at the bottom
	h3.
		0.2.4
	ul
		li Added orgasms for male and female parts
		li Fixed a few problems with metric volumes
	h3.
		0.2.3
	ul
		li Added a menu for choosing male/female genitals
		li Added a species chooser (literally any alphabetical string, that is)
		li Minor improvements to descriptions for some things (no more tram, tram, and a tram)
	h3.
		0.2.2
	ul
		li Redid the vore system to make it easier to work with
		li Added unbirth, cockvore
	h3.
		0.2.1
	ul
		li Added actions for the new body parts
	h3.
		0.2.0
	ul
		li Introduced appoximate units - football fields, swimming pool, etc.
		li Added male and female body parts
		li Game is now super 18+
		li Fixed a bug that showed plural units in the wrong place ("a 20 foot 3 inches crux")
	h3.
		0.1.7
	ul
		li Unique locations with different kinds of objects
		li Added cows and barns for the rural region
		li Adjusted calculations for action sizes
		li Increased odds to get at least one of each kind of object
		li Improved appearance of buttons
		li Better number formatting - fewer extra decimals
	h3.
		0.1.6
	ul
		li New layout. Should look better on mobile
		li Added newlines between actions and bolded the summary
		li Added some basic depictions of sound. Crunch!
	h3.
		0.1.5
	ul
		li Fixed a bug on Edge that causes anal vore to always pick a person
		li Fixed a few cases where simple text mode didn't apply
	h3.
		0.1.4
	ul
		li Increased the range of metric units
		li Added small skyscrapers
		li Introduced a simple mode that avoids describing the contents of objects
	h3.
		0.1.3
	ul
		li Strolling gets slower as you get bigger
		li Introduced some new, more descriptive, lines for stomping and eating
	h3.
		0.1.2
	ul
		li Improved layout.
	h3.
		0.1.1
	ul
		li Improved how eating/stomping victims are chosen
		li Made it more likely to get at least a few objects of each type
	h3.
		0.1.0
	ul
		li Initial release
		li Has stomping
