extends default

block headers
	meta(name='description' content='aural and written creations of chemicalcrux')
	meta(name='keywords' content='writing,audio,sound,vore,macro,micro,furry')

block content
	h2.
		the works
	p.
		I'm probably most well known for my work with audio. I'm also a writer of a variety of themes and topics.
