extends default

block headers
	meta(name='description' content='aural and written creations of chemicalcrux')
	meta(name='keywords' content='writing,audio,sound,vore,macro,micro,furry')

block content
	h2.
		the works
	p.
		I'm probably most well known for my work with audio. I've done so on-and-off for quite a while, with a long hiatus from 2015-2016 that I'm looking to break.
	p.
		The majority of my work is available on my FurAffinity pages - both on my current account, #[a(href="https://www.furaffinity.net/user/chemicalcrux") chemicalcrux], and on my old one, #[a(href="https://www.furaffinity.net/user/fenrirfangs") FenrirFangs].
