extends default

block content
  p.
    I'm probably most well known for my work with audio. I've done so on-and-off for quite a while, with a long hiatus from 2015-2016 that I'm looking to break.
  p.
    The majority of my work is available on my FurAffinity pages - both on my current account, #[a(href="https://www.furaffinity.net/user/chemicalcrux") chemicalcrux], and on my old one, #[a(href="https://www.furaffinity.net/user/fenrirfangs") FenrirFangs]. My newer work is also going up on my Furry Network profile (see Contacts).
  
  div.thumb-container
    img(src="/images/footer fen 250px.jpg")
    img(src="/images/footer fen 250px.jpg")
    img(src="/images/footer fen 250px.jpg")
    img(src="/images/footer fen 250px.jpg")
    img(src="/images/footer fen 250px.jpg")
    img(src="/images/footer fen 250px.jpg")
